body {
margin: 0 ;
padding: 0 ;
text-align: center ;
font-family:arial , helvetica , sans-serif;
}

canvas {
border:1px solid #999;
border-radius: 20px ;
background-color:#f0f8ff;
}

//div.main {
//margin: 0 auto ;
//padding: 0 ;
//text-align: center ;
//width:90% ;
//max-width: 500px ;
//margin: 0 auto ;
//}

textarea {
font-size:8px;
}

input {
font-size:8px;
}

table {
padding-left:15px;
}

td {
height:18px;
width:18px;
text-align:center;
font-size:9px;
}

#scalediv {
}

#chorddiv {
}

#intdiv div {
column-count: 2 ;
column-gap: 10px ;
-moz-column-count: 2 ;
-moz-column-gap: 10px ;
-webkit-column-count: 2 ;
-webkit-column-gap: 10px ;
}

.interval {
width:200px;
text-align:left;
display: inline-block ;
}

.data {
background-color:#f0f8ff;
border:1px solid #999;
border-radius: 20px ;
display: block ;
font-size:10px;
margin:5px auto ;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
padding-top:5px;
text-align:right;
width:500px;
}

legend {
background-color:#e0e8ef;
border:1px solid #999;
border-radius: 20px ;
font-size:14px;
font-weight: 700 ;
margin-left: 200px ;
padding: 2px 20px ;
}